# ----------------------------------------------------
# Python
# ----------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------------------
# Virtual Environment
# ----------------------------------------------------
venv/
.venv/
env/

# ----------------------------------------------------
# IDE
# ----------------------------------------------------
.vscode/
.idea/

# ----------------------------------------------------
# Environment Variables
# ----------------------------------------------------
.env
.env.*

# ----------------------------------------------------
# Logs
# ----------------------------------------------------
*.log
logs/

# ----------------------------------------------------
# Airflow
# ----------------------------------------------------
airflow/logs/
*.pid

# ----------------------------------------------------
# Spark
# ----------------------------------------------------
metastore_db/
spark-warehouse/
derby.log

# ----------------------------------------------------
# Temporary Files
# ----------------------------------------------------
tmp/
temp/

# ----------------------------------------------------
# Database
# ----------------------------------------------------
*.db
*.sqlite
*.sqlite3

# ----------------------------------------------------
# Generated Data
# ----------------------------------------------------
data/processed/
data/output/

# ----------------------------------------------------
# OS Files
# ----------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------
# Testing
# ----------------------------------------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------------------------------------
# configuration
# ----------------------------------------------------
config/config_local.yaml
